h1 {

    text-align: center;
}

td {
    
    border:1px solid black;
    padding: 70px;    
}

td:hover {

    border: 1px solid red;
}

table {

    margin:100px auto;
    border-collapse: collapse;
}

.zeroTop {

    border-top:0px;
}

.zeroBottom {

    border-bottom: 0px;
}

.zeroRight {

    border-right: 0px;
}

.zeroLeft {

    border-left: 0px;
}